*.epub

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/

# Poetry
# poetry.lock

# Audio output
audio_chapters/
*.mp3
*.wav

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Misc
*.log

# Build artifacts
dist/
build/

# Egg-info build artifacts
*.egg-info/
